RewriteEngine on
#RewriteBase 
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule static/.* - [L,NC]	#static content, serve via web browser
RewriteRule _view$ - [L]		#MVC view files
RewriteRule footer$ - [L]		#template footer files
RewriteRule header$ - [L] 		#template header files
RewriteRule include/.*$ x [F] 	#don't allow any access to include folders
RewriteRule ^([^?]*)$ start.php?__base=$1 [NC,L,QSA]